<mat-card class="mat-elevation-z0 border-botom">
    <mat-card-content>
        <div class="header-component">
            <h1>Lista De Pokemons</h1>
            <span class="spacer"></span>
            <button mat-flat-button color="warn" [routerLink]="['/home']">
                <mat-icon>arrow_back_ios</mat-icon> Regresar
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <div class="split-container-2">
            <div class="container">

            </div>
            <div class="container">

            </div>
        </div>
    </mat-card-content>
</mat-card>