@import "./theme.scss";

html,
body {
  height: 100%;
  width: 100% !important;
  box-sizing: border-box !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border-botom {
  border-bottom: solid 2px;
}

.split-container-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  .container {
    width: 50%;
  }

  .container {
    width: 50%;
  }
}
